<div class="top-header">
  <div class="container">
    <div class="top-header-main">
      <div class="col-md-6 top-header-left">
        <div class="drop">
          <div class="box">
            <select tabindex="3" class="dropdown"> <!-- drop-->
              <option value="1" class="">Ruble</option>
              <option value="2" class="">Dollar</option>
              <option value="3" class="">Euro</option>
            </select>
          </div>
          <div class="box1">
            <select tabindex="4" class="dropdown">
              <option value="1" class="">Russian</option>
              <option value="2" class="">English</option>
              <option value="3" class="">French</option>
              <option value="4" class="">German</option>
            </select>
          </div>
          <div class="btn-group">
            <a class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <% if current_user.try(:admin?) %>
                  <li><%= link_to 'administrator', '#', style: "color: red" %></li>
                  <li><%= link_to 'API', '/oauth/applications', style: "color: blue" %></li>
                <% end %>
                <li><a href="#">Welcome, <%= current_user.email %></a></li>
                <li><%= link_to 'Exit', destroy_user_session_path, method: :delete %></li>
                <li><%= link_to 'Edit', edit_user_registration_path %></li>
              <% else %>
                <li><%= link_to 'Entry', new_user_session_path %></li>
                <li><%= link_to 'Registation', new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 top-header-left">
        <div class="cart box_1">

          <a href="/cart" onclick="getCart(); return false;">
            <div class="total">

            </div>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
