<div class="top-header">
  <div class="container">
    <div class="top-header-main">
      <div class="col-md-6 top-header-left">
        <div class="drop">
          <div class="box">
            <select tabindex="3" class="dropdown"> <!-- drop-->
              <option value="1" class="">Dollar</option>
              <option value="2" class="">Euro</option>
              <option value="3" class="">Ruble</option>
            </select>
          </div>
          <div class="box1">
            <select tabindex="4" class="dropdown">
              <option value="1" class="">English</option>
              <option value="2" class="">Russian</option>
              <option value="3" class="">French</option>
              <option value="4" class="">German</option>
            </select>
          </div>
          <div class="btn-group">
            <a class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <% if current_user.try(:admin?) %>
                  <li><%= link_to 'administrator', '#', style: "color: red" %></li>
                  <li><%= link_to 'API', '/oauth/applications', style: "color: blue" %></li>
                <% end %>

                <li><a href="#">Welcome, <%= current_user.email %></a></li>
                <li><%= link_to 'Edit', edit_user_registration_path, style: "color: #000; text-align: center;" %></li>
                <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete, style: "color: #000; width: 100%; border: none; background: #fff; text-align: center;" %></li>

              <% else %>
                <li><%= link_to 'Sign in', new_user_session_path, style: "color: #000; text-align: center;" %></li>
                <li><%= link_to 'Registration', new_user_registration_path, style: "color: #000; text-align: center;" %></li>
              <% end %>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 top-header-left">
        <div class="cart box_1">

          <a href="/cart" onclick="getCart(); return false;">
            <div class="total">
              <%= image_tag('cart-1.png', alt: "") %>
              <% if cart_items.any?  %>
                <span class="simpleCart_total">
                  <%= format("%.2f", cart_total) %> $
                </span>
              <% else %>
                <span class="simpleCart_total">Empty cart</span>
              <% end %>
            </div>
          </a>

          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
