<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><%= link_to(render_breadcrumbs, root_path) %></li>
        <li><%=@category.title %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
  <div class="container">
    <div class="prdt-top">
      <div class="col-md-9 prdt-left">
        <% if !@category.products.empty? %>
          <div class="product-one">
            <% @category.products.each do |product| %>
              <div class="col-md-4 product-left p-left">
                <div class="product-main simpleCart_shelfItem">
                  <%= link_to(image_tag(product.img, alt: "", class: "img-responsive zoom-img"), product, class: "mask") %>
                  <div class="product-bottom">
                    <h3><%= product.title %></h3>
                    <!-- <p>Explore Now</p> -->
                    <h4>
                      <a data-id="<%=product.id %>" class="add-to-cart-link" href="cart/add?id=<%=product.id %>"><i></i></a>
                      <span class=" item_price"><%=product.price %></span>
                      <% if product.old_price %>
                      <small><del><%= product.old_price %></del></small>
                        <% end %>
                    </h4>
                  </div>
                  <div class="srch srch1">
                    <span>-50%</span>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <% else %>
        <h3>There are no products in this category yet...</h3>
          <% end %>
      </div>
      <div class="col-md-3 prdt-right">
        <div class="w_sidebar">
          <section class="sky-form">
            <h4>Countries</h4>
            <div class="row1 scroll-pane">
              <div class="col col-4">
              <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Country</label>
            </div>
            <div class="col col-4">
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>China</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>USA</label>
              <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Russia</label>
            </div>
            </div>
          </section>
          <section class="sky-form">
            <h4>Brand</h4>
            <div class="row1 row2 scroll-pane">
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Apple</label>
              </div>
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Huawei</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Xiaomi</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>TeXet</label>
              </div>
            </div>
          </section>
          <section class="sky-form">
            <h4>Colour</h4>
            <ul class="w_nav2">
              <li><a class="color1" href="#"></a> </li>
              <li><a class="color2" href="#"></a> </li>
              <li><a class="color3" href="#"></a> </li>
              <li><a class="color4" href="#"></a> </li>
              <li><a class="color5" href="#"></a> </li>
              <li><a class="color6" href="#"></a> </li>
              <li><a class="color7" href="#"></a> </li>
              <li><a class="color8" href="#"></a> </li>
              <li><a class="color9" href="#"></a> </li>
              <li><a class="color10" href="#"></a> </li>
            </ul>
          </section>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--product-end-->
