<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><a href="/"><%= render_breadcrumbs %></a></li>
        <li class="active"><%= @product.title %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->

<!--start-single-->
<div class="single contact">
  <div class="container">
    <div class="single-main">
      <div class="col-md-9 single-main-left">
        <div class="sngl-top">
          <div class="col-md-5 single-top-left">

            <% unless @product.galleries == [] %>
              <div class=""><!--flexslider-->
                <ul class="slides">
                  <% @product.galleries.each do |item| %>
                    <li data-thumb="<%= asset_path item['img'] %>">
                      <div class="thumb-image">
                        <img src="<%= asset_path item['img'] %>" data-imagezoom="true" class="img-responsive" alt="">
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% else %> <!--NO PHOTO-->

              <div class=""><!--flexslider-->
                <ul class="slides">
                  <li data-thumb="<%= asset_path 'crossword.png' %>">
                    <div class="thumb-image"> <img src="<%= asset_path 'crossword.png' %>" data-imagezoom="true" class="img-responsive" alt=""> </div>
                  </li>
                </ul>
              </div>
            <% end %>

          </div>
          <div class="col-md-7 single-top-right">
            <div class="single-para simpleCart_shelfItem">
              <h2><%= @product.title %></h2>
              <div class="star-on">
                <ul class="star-footer">
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                  <li><a href="#"><i> </i></a></li>
                </ul>
                <div class="review"><a href="#"> 1 customer review </a></div>
                <div class="clearfix"> </div>
              </div>

              <h5 class="item_price"><%= number_to_currency(@product.price) %> </h5>
              <% if @product.old_price %>
                <del><%= number_to_currency(@product.old_price) %></del>
              <% end %>
              <p><%= @product.content %></p>

              <div class="quantity">
                <input type="number" name="quantity" value="1" size="4" min="1" max="99" step="1">
              </div>


              <%= link_to 'ADD TO CART',
                    cart_items_path,
                    remote: true,
                    data: { method: :post, id: @product.id },
                    class: "add-cart item-add add-to-cart-link",
                    id: "productAdd"
              %>

            </div>
          </div>
          <div class="clearfix"> </div>
        </div>

        <div class="tabs">
          <ul class="menu_drop">
            <li class="item1">
              <a href="#"><img src="<%= asset_path 'arrow.png' %>" alt="">Specifications</a>
              <ul>
                <li class="subitem1">
                  <h4>1) Operating System: <%= @product.os %>
                  <br><br>2) Processor: <%= @product.processor %>
                  <br><br>3) Dimensions: <%= @product.dimensions  %>
                  <br><br>4) Weight: <%= @product.weight  %>
                  <br><br>5) Main camera: <%= @product.main_cam  %>
                  <br><br>6) Front camera: <%= @product.front_cam  %>
                  <br><br>7) Battery Type and Capacity: <%= @product.battery %></h4>
                  </li>
              </ul>
            </li>
            <li class="item2">
              <a href="#"><img src="<%= asset_path 'arrow.png' %>" alt="">Description</a>
              <ul>
                <li class="subitem1"><h4><%= @product.description %></h4></li>
              </ul>
            </li>
          </ul>
        </div>

        <% unless @product.related.nil? %>

          <div class="latestproducts">
            <div class="product-one">
              <h3>Related Products</h3>
              <% @product.related.each do |related| %>
                <div class="col-md-4 product-left p-left">
                  <div class="product-main simpleCart_shelfItem">
                    <a href="<%= related.id %>" class="mask">
                      <img class="img-responsive zoom-img" src="<%= asset_path related.img %>" alt="">
                    </a>
                    <div class="product-bottom">
                      <h3><a href="<%= related.id %>"><%= related.title %></a></h3>

                      <h4>
                        <span class=" item_price"><%= number_to_currency(related.price) %></span>
                        <% if related.old_price %>
                          <small><del><%= number_to_currency(related.old_price) %></del></small>
                        <% end %>
                      </h4>
                    </div>
                    <div class="srch">
                      <span>-50%</span>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="clearfix"> </div>
            </div>
          </div>
        <% end %>

        <% if recent_products.any? %>
          <div class="latestproducts">
            <div class="product-one">
              <h3>Recently Products</h3>

              <% recent_products.each do |recently| %>
                <div class="col-md-4 product-left p-left">
                  <div class="product-main simpleCart_shelfItem">
                    <a href="<%= recently.id %>" class="mask">
                      <img class="img-responsive zoom-img" src="<%= asset_path recently.img %>" alt="">
                    </a>
                    <div class="product-bottom">
                      <h3><a href="<%= recently.id %>"><%= recently.title %></a></h3>

                      <h4>
                        <span class=" item_price"><%= number_to_currency(recently.price) %></span>
                        <% if recently.old_price %>
                          <small><del><%= number_to_currency(recently.old_price) %></del></small>
                        <% end %>
                      </h4>
                    </div>
                    <div class="srch">
                      <span>-50%</span>
                    </div>
                  </div>
                </div>

              <% end %>
              <div class="clearfix"> </div>
            </div>
          </div>

        <% end %>
      </div>

      <div class="col-md-3 single-right">
        <div class="w_sidebar">
          <section class="sky-form">
            <h4>Countries</h4>
            <div class="row1 scroll-pane">
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Country</label>
              </div>
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>China</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>USA</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Russia</label>
              </div>
            </div>
          </section>

          <section class="sky-form">
            <h4>Brand</h4>
            <div class="row1 row2 scroll-pane">
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Apple</label>
              </div>
              <div class="col col-4">
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Xiaomi</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Huawei</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>ZTE</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>BlackBerry</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Motorolla</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>TeXet</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>YotaPhone</label>
                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Highscreen</label>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--end-single-->
<input type="hidden" value="<%= !current_user.nil? ? 88 : 99 %>" id="cart_access" />
