
<% unless current_user.nil? %>
  <% if !products.empty? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thread>
          <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></th>
          </tr>
        </thread>
        <tbody>
        <% qty = [] %>
        <% sum = [] %>
        <% products.map do |item| %>
        <tr>
          <td>
            <% if item.product.img.nil? %>
              <%= link_to(item.product.title, item.product) %>
            <% else %>
              <%= link_to(image_tag(item.product.img), item.product) %>
            <% end %>
          </td>
          <td><%= link_to(item.product.title, item.product) %></td>
          <td>
            <% qty << item.quantity %><%= item.quantity %>it.
          </td>
          <% pr = item.quantity * item.product.price %>
          <% sum << pr %>
          <td><%= number_to_currency(item.product.price) %></td>
          <td>
            <span data-id="<%= item.product_id %>" class="glyphicon glyphicon-remove text-danger del-item" aria-hidden="true"></span>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>Total:</td>
          <td colspan="4" class="text-right cart-qty"><%= qty.sum %> it.</td>
        </tr>
        <tr>
          <td>For the amount:</td>
          <td colspan="4" class="text-right cart-sum"><%= number_to_currency(format("%.2f", sum.sum)) %> $</td>
        </tr>

        </tbody>
      </table>
    </div>
  <% else %>
    <td>Cart is Empty</td>
  <% end %>
<% else %>
  <span>Please sign in to view the cart.</span>
  <script>$('#cart .modal-footer a, #cart .modal-footer .btn-danger').css('display', 'none');</script>
<% end %>
